{% extends "base.html" %}
{% block content %}
    Continuous Integration and Deployment - Explain how you have the project setup to use GitHub Actions, How you can review code using a development server before merging pull requests, how you can deploy master to a production server.   Explain how you deploy an image of your project to Dockerhub when master is updated.  GitHub Actions Documentation (Links to an external site.).

Read and cite / quote from these articles for CI/CD:

https://www.martinfowler.com/articles/continuousIntegration.html (Links to an external site.)
https://www.martinfowler.com/bliki/ContinuousDelivery.html
{% endblock %}